<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
  <title>Dashboard &mdash; Stisla</title>

  <link rel="stylesheet" href="./dist/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./dist/modules/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="./dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

  <link rel="stylesheet" href="./dist/modules/summernote/summernote-lite.css">
  <link rel="stylesheet" href="./dist/modules/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="./dist/css/demo.css">
  <link rel="stylesheet" href="./dist/css/style.css">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
            <!-- <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="ion ion-search"></i></a></li> -->
          </ul>
          <div class="search-element">
            <!-- <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit"><i class="ion ion-search"></i></button> -->
          </div>
        </form>
        <ul class="navbar-nav navbar-right">
          <!-- <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="ion ion-ios-bell-outline"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right"> -->
              <!-- <div class="dropdown-header">Notifications
                <div class="float-right">
                  <a href="#">View All</a>
                </div>
              </div>
              <div class="dropdown-list-contentt">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <img alt="image" src="/img/avatar/avatar-1.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                    <div class="time">10 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <img alt="image" src="/img/avatar/avatar-2.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Ujang Maman</b> has moved task <b>Fix bug footer</b> to <b>Progress</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <img alt="image" src="/img/avatar/avatar-3.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Agung Ardiansyah</b> has moved task <b>Fix bug sidebar</b> to <b>Done</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <img alt="image" src="/img/avatar/avatar-4.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Ardian Rahardiansyah</b> has moved task <b>Fix bug navbar</b> to <b>Done</b>
                    <div class="time">16 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <img alt="image" src="/img/avatar/avatar-5.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Alfa Zulkarnain</b> has moved task <b>Add logo</b> to <b>Done</b>
                    <div class="time">Yesterday</div>
                  </div>
                </a>
              </div>
            </div>
          </li> -->
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
            <i class="ion ion-android-person d-lg-none"></i>
            <div class="d-sm-none d-lg-inline-block">Hi, Admin</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="profile.html" class="dropdown-item has-icon">
                <i class="ion ion-android-person"></i> Profile
              </a>
              <a href="#" class="dropdown-item has-icon">
                <i class="ion ion-log-out"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index.html">Management System</a>
          </div>
          <div class="sidebar-user">
            <div class="sidebar-user-picture">
              <img alt="image" src="/dist/img/avatar/avatar-1.jpeg">
            </div>
            <div class="sidebar-user-details">
              <div class="user-name">placid digital</div>
              <div class="user-role">
                Administrator
              </div>
            </div>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Admin Dashboard</li>
            <li class="active">
              <a href="/dashboard.html"><i class="ion ion-speedometer"></i><span>Dashboard</span></a>
            </li>

            <li class="menu-header">Employee</li>
            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-ios-albums-outline"></i><span> employee</span></a>
              <ul class="menu-dropdown">
                <li><a href="/addemp.html"><i class="ion ion-ios-circle-outline"></i>create employee</a></li>
                <li><a href="components.html"><i class="ion ion-ios-circle-outline"></i>Manage Employee </a></li>
                <!-- <li><a href="buttons.html"><i class="ion ion-ios-circle-outline"></i> Buttons</a></li>
                <li><a href="toastr.html"><i class="ion ion-ios-circle-outline"></i> Toastr</a></li> -->
              </ul>
            </li>
            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-flag"></i><span>Department</span></a>
              <ul class="menu-dropdown">
                <!-- <li><a href="ion-icons.html"><i class="ion ion-ios-circle-outline"></i></a></li> -->
                <li><a href="/createdept.html"><i class="ion ion-ios-circle-outline"></i>create department</a></li>
                <li><a href="flag.html"><i class="ion ion-ios-circle-outline"></i> Manage department</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-flag"></i><span>Attendence</span></a>
              <ul class="menu-dropdown">
                <!-- <li><a href="ion-icons.html"><i class="ion ion-ios-circle-outline"></i></a></li> -->
                <li><a href="fontawesome.html"><i class="ion ion-ios-circle-outline"></i>daily attendence</a></li>
                <li><a href="flag.html"><i class="ion ion-ios-circle-outline"></i>Attendence Report</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-flag"></i><span>Leave</span></a>
              <ul class="menu-dropdown">
                <!-- <li><a href="ion-icons.html"><i class="ion ion-ios-circle-outline"></i></a></li> -->
                <li><a href="fontawesome.html"><i class="ion ion-ios-circle-outline"></i>apply for leave</a></li>
                <li><a href="flag.html"><i class="ion ion-ios-circle-outline"></i>Leave</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-flag"></i><span>Holiday</span></a>
              <ul class="menu-dropdown">
                <!-- <li><a href="ion-icons.html"><i class="ion ion-ios-circle-outline"></i></a></li> -->
                <li><a href="fontawesome.html"><i class="ion ion-ios-circle-outline"></i>Add Holiday</a></li>
                <li><a href="flag.html"><i class="ion ion-ios-circle-outline"></i> Manaage Holiday</a></li>
              </ul>
            <!-- </li>    <li><a href="#" class="has-dropdown"><i class="ion ion-ios-circle-outline"></i> Menu 2</a>
                  <ul class="menu-dropdown">
                    <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 1</a></li>
                    <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 2</a></li>
                    <li><a href="#" class="has-dropdown"><i class="ion ion-ios-circle-outline"></i> Child Menu 3</a>
                      <ul class="menu-dropdown">
                        <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 1</a></li>
                        <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 2</a></li>
                        <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 3</a></li>
                      </ul>
                    </li>
                    <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 4</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="ion ion-heart"></i> Badges <div class="badge badge-primary">10</div></a>
            </li>
            <li>
              <a href="credits.html"><i class="ion ion-ios-information-outline"></i> Credits</a>
            </li>          </ul>
          <div class="p-3 mt-4 mb-4">
            <a href="http://stisla.multinity.com/" class="btn btn-danger btn-shadow btn-round has-icon has-icon-nofloat btn-block">
              <i class="ion ion-help-buoy"></i> <div>Go PRO!</div>
            </a>
          </div>
        </aside> -->
      </div>
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Attendence Report</div>
          </h1>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
              <div class="card card-sm-3">
                <div class="card-icon bg-primary">
                  <i class="ion ion-person"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Total Admin</h4>
                  </div>
                  <div class="card-body">
                    3
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="card card-sm-3">
                <div class="card-icon bg-danger">
                  <i class="ion ion-ios-paper-outline"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Total Emp</h4>
                  </div>
                  <div class="card-body">
                    50
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="card card-sm-3">
                <div class="card-icon bg-warning">
                  <i class="ion ion-paper-airplane"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Emp on Leave</h4>
                  </div>
                  <div class="card-body">
                    5
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="card card-sm-3">
                <div class="card-icon bg-success">
                  <i class="ion ion-record"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Reports</h4>
                  </div>
                  <div class="card-body">
                    40
                  </div>
                </div>
              </div>
            </div>                  
          </div>

            <div>
                <table class="table">
                    <thead>

                        <tr>
                            <th>S.No.</th>
                            <th>Emp Name</th>
                            <th>Date</th>
                            <th>inTime</th>
                             <th>out Time</th>
                            <th>Status</th>
                            <th>Action</th>


                            <!-- <th>parent Contact No.</th>
                            <th>Email</th>
                            <th>Image</th>
                            <th>Native Place</th>
                            <th>room_no&block</th>
                            <th></th> -->

                        </tr>
                    </thead>
                    <tbody>
                        <% if(posts.length!=0){ var i=1; posts.forEach(function(data){ %>
                            <tr class="success">
                                <td>
                                    <%=i; %>
                                </td>
                                <td>
                                    <%=posts.empname %>
                                </td>
                                <td>
                                    <%=posts.date %>
                                </td>

                                <td>
                                    <%=posts.intime %>
                                </td>
                                 <td>
                                    <%=posts.outtime %>
                                </td>
                                <td><%=posts.status %></td> 

                                <!-- <td>
                                    <%=posts.contactno %>
                                </td>
                                <td>8109553925</td>
                                <td>
                                    <%=posts.email %>
                                </td> -->

                                <!--  <td>
                                    <img src="lines.jpg" height="10%">
                                </td>
                                <td>indore</td>
                                <td>f1 F</td> -->
                                <td> <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit"><i class="ion ion-edit"></i></a>
                                    <a class="btn btn-danger btn-action" data-toggle="tooltip" title="Delete"><i class="ion ion-trash-b"></i></a>
                                                               </td>

                            </tr>

                            <!-- <tr class="danger">
                                <td>Aarohi ratnawat</td>
                                <td>15/june/2015</td>

                                <td>
                                    Mr. nitin ratnawat
                                </td>
                                <td>mrs shefali ratnawat</td>
                                <td>843 dwarkapuri, indore</td>

                                <td>
                                    9009704144
                                </td>
                                <td>8109553925</td>
                                <td>aarohi.ratnawat@gmail.com</td>

                                <td>
                                    <img src="lines.jpg" height="10%">
                                </td>
                                <td>indore</td>
                                <td>f1 F</td>
                                <td><button type="button" class="btn btn-primary">Edit</button><br>
                                    <button type="button" class="btn btn-danger">delete</button>
                                </td>
                            </tr>
                              <tr class="info"> -->
                                <!-- <td>Aarohi ratnawat</td>
                                <td>15/june/2015</td>

                                <td>
                                    Mr. nitin ratnawat
                                </td>
                                <td>mrs shefali ratnawat</td>
                                <td>843 dwarkapuri, indore</td>

                                <td>
                                    9009704144
                                </td>
                                <td>8109553925</td>
                                <td>aarohi.ratnawat@gmail.com</td>

                                <td>
                                    <img src="lines.jpg" height="10%">
                                </td>
                                <td>indore</td>
                                <td>f1 F</td>
                                <td><button type="button" class="btn btn-primary">Edit</button><br>
                                    <button type="button" class="btn btn-danger">delete</button>
                                </td>




                            <tr class="warning">
                                <td>Aarohi ratnawat</td>
                                <td>15/june/2015</td>

                                <td>
                                    Mr. nitin ratnawat
                                </td>
                                <td>mrs shefali ratnawat</td>
                                <td>843 dwarkapuri, indore</td>

                                <td>
                                    9009704144
                                </td>
                                <td>8109553925</td>
                                <td>aarohi.ratnawat@gmail.com</td>

                                <td>
                                    <img src="lines.jpg" height="10%">
                                </td>
                                <td>indore</td>
                                <td>f1 F</td>
                                <td><a href="./update"> update</a><br>
                                    <a href="girl_detail.html"> delete</button>
                                </td>

                            </tr>  -->

                    </tbody>
                    <% i++; }) %>
                        <% } else{ %>
                            <tr>
                                <td colspan="7">No Data Found</td>
                            </tr>
                            <% } %>
                </table>
            </div>

            <!-- <h1>Facilities </h1>
                <label>WHAT WE OFFER FOR FREE </label>
                <div class="row">
                    <div class="col-2" style="height: fit-content;">
                        <img src="tc.jpg" height="35px">
                        <label>Tea & Coffee</label>
                    </div>
                    <div class="col-2" style="height: fit-content;">
                        <img src="shower.jpg" height="45px">
                        <label>Hot shower</label>
                    </div>
                    <div class="col-2" style="height: fit-content;">
                        <img src="laundry.jpg" height="45px">
                        <label>laundry</label>
                    </div>
                    <div class="col-2" style="height: fit-content;">
                        <img src="kitchen.jpg" height="45px">
                        <label>kitchen</label>
                    </div>
                    <div class="col-2" style="height: fit-content;">
                        <img src="air.jpg" height="35px">
                        <label>Air conditioner</label>
                    </div>
                    <div class="col-2" style="height: fit-content;">
                        <img src="lockers.jpg" height="35px"><br>
                        <label>Lockers</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2" style="height: fit-content;">
                        <img src="reception.jpg" height="75px">
                        <label>24*7 <br> Reception</label>
                    </div>
                    <div class="col-2" style="height: fit-content;">
                        <img src="wifi.jpg" height="75px">
                        <label>Free WiFi</label>
                    </div>
                    <div class="col-2" style="height: fit-content;">
                        <img src="tv.jpg" height="75px">
                        <label>laundry</label>
                    </div>
                    <div class="col-2" style="height: fit-content;">
                        <img src="kitchen.jpg" height="75px">
                        <label>TV</label>
                    </div>
                    <div class="col-2" style="height: fit-content;">
                        <img src="cm.jpg" height="75px">
                        <label>City Map</label>
                    </div>
                    <div class="col-2" style="height: fit-content;">
                        <img src="iron.jpg" height="75px"><br>
                        <label>Iron</label>
                    </div>
                </div>
            </div> -->

        </div>


</body>
<script>
    async function submit_data() {
        console.log("!! function call");
        alert("data inserted successfully");
        var name = document.getElementById("name12").value;
        var birthday = document.getElementById('birthday').value;
        var fathername = document.getElementById('fathername').value;
        var mothername = document.getElementById('mothername').value;
        var address = document.getElementById('address').value;
        var contactno = document.getElementById('contactno').value;
        var email = document.getElementById('email').value;
        var data = {
            "name": name, "birthday": birthday, "fathername": fathername, "mothername": mothername, "address": address, "contactno": contactno,
            "email": email,

        };
        // try {
        console.log(data);
        const response = await fetch('http://localhost:8009/post', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'

            },






        });
        //  catch (error) {
        // console.log('Error: ' + err);
    }
</script>

</html>